<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title id="adetail"></title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="margin: 1rem;">
<div class="panel panel-default">
  <div class="panel-heading" id="dianhuabu">
    电话簿
  </div>
  <div class="panel-body" id="dianhuabuBody">
    <form role="form" id="addPhoenForm" style="margin-bottom: 1rem;">
      <div class="form-group">
        <input type="text" class="form-control" id="pname" placeholder="请输入姓名" onkeyup="this.value=this.value.replace(/[, ]/g,'')" maxlength="30" >~
        <input type="text" class="form-control" id="pphone" placeholder="请输入电话" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"
               maxlength="30" >
      </div>
      <button class="btn btn-default" id="addPhone" type="button">添加</button><br/>
    </form>

    <table class="table" style="width: 90%;max-width: 100%;">
      <tbody id="tableBody">
     <!-- <th:block th:each="phone : ${phones}" >
        <tr>
          <td style="color: #428BCA;"><a  th:attr="href='tel:'+${phone.pphone}" th:text="${phone.pname}" class="telcall"/> <a  th:attr="href='tel:'+${phone.pphone}" th:text="${phone.pphone}" class="telcall"/></td>
          <td style="color: #428BCA;" th:attr="dataid=${phone.id}" onclick="deletePhone(this)">删除</td>
        </tr>
      </th:block>-->
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" id="zuixindongtai">
    最新动态（开发中）
  </div>
  <div class="panel-body" id="zuixindongtaiBody">
  </div>
</div>
</body>
<script>
  (function(){
    var detailId = getQueryString("detailId");
    $.ajax({
      url:"https://dabokeji.herokuapp.com/db/getDbAddressDetail?detailId="+detailId,
      data: {},
      type: "POST",
      xhrFields: {
        withCredentials: true    //允许发送Cookie信息
      },
      success: function (result) {
        if(result && result.adetail){
          $("#adetail").html(result.adetail);
        }
        if(result && result.phones){
          for(var i=0;i<result.phones.length;i++){
            var phoenbean = result.phones;
            $("#tableBody").append('<tr> <td style="color: #428BCA;"><a  class="telcall" href="tel:'+phoenbean[i].pphone+'">'+phoenbean[i].pname+'</a><a  class="telcall" href="tel:'+phoenbean[i].pphone+'">'+phoenbean[i].pphone+'</a></td> <td style="color: #428BCA;" dataid="'+phoenbean[i].id+'" onclick="deletePhone(this)">删除</td> </tr>');
          }

        }
      },
      error: function (data) {
        console.log(data);
      }
    })

    $("#dianhuabu").click(function (e) {
      $("#dianhuabuBody").slideToggle(500);
    });
    $("#zuixindongtai").click(function (e) {
      $("#zuixindongtaiBody").slideToggle(500);
    });
    $("#addPhone").click(function (e) {
      $.ajax({
        url:"https://dabokeji.herokuapp.com/db/saveDbPhoneBook",
        data: {"adetailid":detailId, "pname": $("#pname").val(),"pphone": $("#pphone").val()},
        type: "POST",
        xhrFields: {
          withCredentials: true    //允许发送Cookie信息
        },
        success: function (result) {
          window.location.reload();
        },
        error: function (data) {
          console.log(data);
        }
      })
    });
  })();
  function deletePhone (obj){
    $.ajax({
      url:"https://dabokeji.herokuapp.com/db/deletePhoneBook/"+$(obj).attr("dataid"),
      data: {},
      type: "POST",
      xhrFields: {
        withCredentials: true    //允许发送Cookie信息
      },
      success: function (result) {
        if(result>0){
          window.location.reload();
        }
      },
      error: function (data) {
        console.log(data);
      }
    })
  }
  function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
  }
</script>
</html>
